body {
    color: #663004;
    font-family: "Patrick Hand SC", cursive;
}

.mega-1 {
    background-color: rgba(148, 163, 82, 0.712);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#video-background {
    position: fixed;
    right: 0; 
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    width: auto; 
    height: auto; 
    z-index: -100;
}
.mini-1{
    font-size: xx-large;
}

table {
    border-collapse: collapse;
    width: 650px;
    background-color: white;
    font-size: 20px;
}

th,
td {
    border: 1px solid #094d12;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #d8b517;
    color: #fbfeff;
}

h1 {
    color: white;
}

#regresar {
    position: absolute;
    top: 50px;
    left: 10%;
    transform: translateX(-50%);
    width: 60px;
    height: 60px;
    border: none;
    background: none;
    cursor: pointer;
}