body {
    background-color: #3b4cca;
    color: #ffffff;
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

table {
    
    
    width: 70%;
    border-collapse: collapse;
    margin-top: 20px;
}
th, td {
    border: 2px solid #ffffff;
    padding: 8px;
    text-align: center;
}
th {
    background-color: #ffcb05;
    color: #3b4cca;
}