body#registro {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../img/fondo-registro.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#reg canvas {
    border: none;
    border-radius: 10px;
    background-color: rgba(240, 248, 255, 0.459);
    background-repeat: no-repeat;
    background-size: cover;
}

form#alias {
    position: absolute;
    top: 350px;
    left: 50%;
    transform: translateX(-50%);
    border: none;
    background: none;
    cursor: pointer;
}

#alias input {
    height: 50px;
    border-radius: 5px;
    border: 1px solid gray;
    width: 500px;

    font-size: 2em;
    color: #0a62b4;
    text-align: center;
}

#regresar {
    position: absolute;
    top: 50px;
    left: 10%;
    transform: translateX(-50%);
    width: 60px;
    height: 60px;
    border: none;
    background: none;
    cursor: pointer;
}